*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/editor/images/HeiBanBj.jpg");
}
.main{
    margin: 30px 45px;
}

/*  第一部分样式 */
.media-style{
    margin-left: 250px;
    margin-top: 40px;
}
.media-body-style{
    color: white;
}
