<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>开心博客园</title>

    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.4.1/css/bootstrap-theme.css">
    <link rel="stylesheet" href="webjars/bootstrap/3.4.1/css/bootstrap.css">
    <script src="webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style.css">


</head>
<body>
<!--   引入导航栏-->
<div th:insert="~{header :: header}">

</div>

<!--        首页部分 展示评论-->

<div class="container-fluid main mystyle">
    <div class="row">
        <!--         左边具体数据-->
        <div class="col-lg-9 col-md-12 col-xs-12 col-sm-12 ">
            <h2>
                <span class="glyphicon glyphicon-list" aria-hidden="true" style="font-size: 26px"></span>
                <span>发现</span>
            </h2>
            <hr>

            <div th:if="${page.list != null}" class="media" th:each="dto:${page.list}">
                <div class="media-left">
                    <a href="#">
                        <img style="margin-top: 12px" class="media-object img-circle imgstyle"
                             th:src="${dto.user.getAvatar_url()}">
                    </a>
                </div>
                <div class="media-body">
                    <!--   应该外层嵌套一个a链接   th:href="@{'doquestion/'+${dto.getId()}}"   该链接处理当前问题页面            问题标题-->
                    <a href="#" th:href="@{'/toUpdateFromIndex/'+${dto.id}}">
                        <h4 class="media-heading">
                            <p th:text="${dto.title}">
                            </p>
                        </h4>
                    </a>
                    <span class="text-desc"> <br/>
                        • <span th:text="${dto.user.name}"></span> 发起了问题 • <span th:text="${dto.comment_count}"></span>   个回复 • <span
                                th:text="${dto.view_count}"></span> 次浏览 • <span
                                th:text="${dto.gmt_creat}"></span> 发布</span>
                </div>
                <hr>
            </div>
            <!--                分页-->
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" th:if="${page.pageno != null}" th:href="@{/(pageno=${page.pageno -1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${page.pages != null}" th:each="page0:${page.pages}" th:class="${page.pageno == page0}? 'active' : '' ">
                        <a href="#" th:if="${page.pages != null}" th:href="@{/searchFunction(pageno=${page0},search = ${search})}" th:text="${page0}" >

                        </a>
                    </li>
                    <li>
                        <a href="#" th:if="${page.pageno != null}" aria-label="Next" th:href="@{/searchFunction(pageno=${page.pageno+1},search=${search})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!--            分页结束-->

        </div>

        <!--        右侧部分-->
        <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12">
            <h2>热门话题</h2>
            <hr>

        </div>

    </div>

</div>

</body>
</html>